gris_oscuro = #444
azul = #22BCE0


body 
	background 0000
	color gris_oscuro
	font-family verdana
	font-size 16px

header
 bacground 0000
 max-width 1200px
 min-width  320px
 max-height auto
 min-height auto

nav 
 background azul
